<html>
<body>

<nav>
  <h1> Welcome to my homepage </h1>
</nav>

<%= @output %>


  <p>
    This is Rock Paper Scissors! This is war! \n
    Refresh the page to see the next round!
  </p>
</body>
</html>

