<!DOCTYPE html>
<html lang= 'en'>
<head>
  <meta charset="utf-8">
  <title> Rock Paper Scissors</title>
  <link rel = 'stylesheet' href = 'style.css'/>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href = "/">Introduction</a>
      </li>
      <li>
      <a href = "/layout">Home</a>
      </li>
    </ul>
  </nav>
  <%= @output %>
</body>
</html>